h1,
h3,
p,
textarea,
.content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
  display: flex;
  align-items: end;
  width: 100%;
  margin-bottom: 20px;
}
textarea {
  width: 20rem;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid #f1f1f1;
}
textarea:hover {
  border: 1px solid #ccc;
}
textarea:focus {
  outline: none !important;
  border: 1px solid #ccc;
}
button {
  height: auto;
  border: 1px solid #f1f1f1;
}
.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 3rem;
  margin-left: 0;
}

.note-container {
  width: 20rem;
  min-height: 3rem;
  height: auto;
  font-size: 1rem;
  margin: 1rem 0;
  margin-right: 1rem;
  border: 1px solid #f1f1f1;
  position: relative;
  overflow: auto;
}

.content {
  padding: 1rem;
  padding-right: 2.5rem;
  overflow-wrap: break-word;
}

.btn-update,
.btn-close,
.btn-send {
  cursor: pointer;
}
.btn-update {
  margin: 1.5rem;
}
.btn-close {
  background-color: #f1f1f1;
  border: none;
  width: 2rem;
  height: 2rem;
  outline: inherit;
  margin: 0;
  position: absolute;
  right: 0;
}

.notes-header {
  display: flex;
  margin-bottom: 1rem;
}
.notes-new {
  display: flex;
  margin-bottom: 1rem;
}
